body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.col-centered {
    float: none;
    margin: 0 auto;
}
.slide-image {
    width: 100%;
}

.carousel-holder {
    margin-bottom: 30px;
}

.carousel-control,
.item {
    border-radius: 4px;
}

.caption {
    height: 130px;
    overflow: hidden;
}



.event-date-time {
    color: #79797a;
}

.organizer {
    color: #79797a;
}


.thumbnail img {
    width: 100%;
}

.ratings-favorites {
    padding-right: 10px;
    padding-left: 10px;
}

.ratings-favorites .favorites{
    color: #E0523D;
}

.ratings-favorites .ratings {
    color: #FDCC40;
}

.thumbnail {
    padding: 0;
    border-radius: 0px;
}
.thumbnail>img{      
    margin-right:0;
    margin-left: 0;
}
.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

.form-section{
    margin-left: auto ;
    margin-right: auto ;
}


footer {
    margin: 50px 0;
}

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  margin-top: 20px;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper .container {
  padding-left: 0;
  padding-right: 0;
}
.navbar-wrapper .navbar {
  padding-left: 15px;
  padding-right: 15px;
}

.navbar-content
{
    width:150px;
    padding: 5px 5px;
    padding-bottom: 1px;
}
.navbar-content:before, .navbar-content:after
{
    display: table;
    content: "";
    line-height: 0;
}
.navbar-nav.navbar-right:last-child {
margin-right: 15px !important;
}
.navbar-footer 
{
    background-color:#DDD;
}
.navbar-footer-content { 
    padding:15px 15px 15px 15px; 
    text-align: right;
}

.dropdown-menu {
  text-align: right;
  padding: 0px;
  overflow: hidden;
  border-radius: 0px;

}

.dropdown-menu .btn {
  color: #7c7c7c;
  text-decoration: none;
}

.dropdown-menu .btn:hover {
  color:#2f2f2f;
  text-decoration: none;
}


.button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 4px 4px;
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #a4defc;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}
.button:hover, .button:focus {
  background: #6bcdff;
}

.button-block {
  display: block;
  width: 100%;
}
